body {
  font-family: sans-serif;
}

form {
  width: 600px;
  padding: 1em;
  border: 1px solid #ccc;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  text-align: right;
  margin-right: 0.3em;
  margin-left: 1em;
}

label:first-of-type {
  width: 90px;
  margin-left: 0;
}

input {
  font: 1em sans-serif;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus {
  border-color: #000;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}

.centered-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 20px;
  margin: 0 auto;
  width: 50%;
}

.centered-header {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.centered-subsection {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border: 1px solid black;
  padding: 20px;
  margin: 0 auto;
  width: 50%;
}

.centered-subsection h3 {
  text-align: center;
}
